:root {
  /* font-color */
  --primary-font-color: #ffffff;
  --secondary-font-color: #16c0f0;
  --tertiary-font-color: #c2c0c3;
  /* Backgroun-color */
  --primary-bg-color: #323232;
  --secondary-bg-color: #292929;
  --tertiary-bg-color: #1abaef;
  /* Color */
  --white-color: #ffffff;
  --gray-color: #c3c0c0;
}
/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
/* .container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1320px;
}
.container-fluid {
  padding: 0 3rem;
} */
.container {
  margin: 0 auto;
  /* padding: 0 1.5rem; */
}
.container-fluid {
  padding: 0 3rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*--------------------------------------------------------------
# paragraph--style
--------------------------------------------------------------*/
.p--style {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--tertiary-font-color);
  line-height: 1.8;
  font-weight: 400;
}
/*--------------------------------------------------------------
# h1--style
--------------------------------------------------------------*/
.h1--style {
  font-family: "Montserrat", sans-serif;
  font-size: 8.5rem;
  color: var(--primary-font-color);
  text-transform: capitalize;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
}
@media (max-width: 992px) {
  .h1--style {
    font-size: 7.5rem;
  }
}
@media (max-width: 768px) {
  .h1--style {
    font-size: 5.5rem;
  }
}
@media (max-width: 576px) {
  .h1--style {
    font-size: 3.5rem;
  }
}
/*--------------------------------------------------------------
# h2--style
--------------------------------------------------------------*/
.h2--style {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  color: var(--primary-font-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 1;
}

/*--------------------------------------------------------------
# h3--style
--------------------------------------------------------------*/
.h3--style {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  color: var(--gray-color);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
}
@media (max-width: 768px) {
  .h3--style {
    font-size: 2.2rem;
  }
}
@media (max-width: 576px) {
  .h3--style {
    font-size: 1.8rem;
  }
}
/*--------------------------------------------------------------
# h4--style
--------------------------------------------------------------*/
.h4--style {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
.h4--style--uppercase {
  color: var(--primary-font-color);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
}
.h4--style--capitalize {
  color: var(--secondary-font-color);
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/*--------------------------------------------------------------
# border--style
--------------------------------------------------------------*/
.border--style {
  border: 3px solid #383636;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*--------------------------------------------------------------
# btn    btn-sm  btn-md
--------------------------------------------------------------*/
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  background-color: var(--tertiary-bg-color);
  border-radius: 2.4rem;
  outline: none;
  border: none;
  position: relative;
  white-space: nowrap;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
  border-radius: inherit;
  transition: transform 0.3s;
}
.btn:hover.btn::after {
  transform: translate(-50%, -50%) scale(1);
}
.btn--sm {
  height: 48px;
  width: 145px;
}
.btn--md {
  height: 48px;
  width: 175px;
}
.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/*--------------------------------------------------------------
# section--style
--------------------------------------------------------------*/
.section--style {
  padding: 10rem 0;
}
/*--------------------------------------------------------------
# section-title
--------------------------------------------------------------*/
.section-title {
  /* background-color: #c2c0c3; */
}
.section-title h2 {
  width: fit-content;
  padding-bottom: 1.5rem;
  position: relative;
  /* background-color: #292929; */
}
.section-title h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6d6b6f;
  z-index: 0;
}
.section-title span {
  position: absolute;
  bottom: -9px;
  left: 67%;
  background: var(--primary-bg-color);
  padding: 0 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-font-color);
  letter-spacing: 0.3px;
  z-index: 1;
}
/*--------------------------------------------------------------
# box-label
--------------------------------------------------------------*/
.box-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
  color: var(--white-color);
  padding: 12px 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.box-label .label-text {
  color: var(--white-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.box-label--right {
  right: -12px;
}
.box-label--right::before {
  content: "";
  position: absolute;
  top: -12px;
  right: 0px;
  width: 0;
  height: 0;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #23849e;
}
.box-label--right::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 12px solid #23849e;
  border-right: 12px solid transparent;
}
.box-label--left {
  left: -12px;
}
.box-label--left::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #23849e;
}
.box-label--left::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 12px solid #23849e;
  border-left: 12px solid transparent;
}

/*--------------------------------------------------------------
# circle-label
--------------------------------------------------------------*/
.circle-label {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  background: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);

  position: relative;
  display: flex;
  align-items: center;
}
.circle-label--sm {
  height: 5rem;
  border-radius: 2.5rem;
  width: 17.5rem;
}
.circle-label--md {
  height: 4.8rem;
  border-radius: 2.4rem;
  width: 20rem;
}
.circle-label--lg {
  height: 4rem;
  border-radius: 2rem;
  width: 30.15rem;
}
.circle-label .circle-label-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: #17a1c7;
}
.circle-label span {
  flex-basis: 100%;
}

.circle-label--sm span {
  margin-left: 3rem;
}
.circle-label--md span {
  margin-left: 4rem;
}
.circle-label--lg span {
  /* margin-left: 2rem; */
}
/*--------------------------------------------------------------
# caret-down
--------------------------------------------------------------*/
.caret-down::after {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 12px solid #21b1ec;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
/*--------------------------------------------------------------
# input--reset
--------------------------------------------------------------*/
.input--reset {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  /* background-color: #16c0f0; */
}
/*--------------------------------------------------------------
# input--style
--------------------------------------------------------------*/
.input--style {
  border-bottom: 1px solid red;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-font-color);
  padding: 0.6rem;
}

/*--------------------------------------------------------------
# breakpoints
--------------------------------------------------------------*/

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 375px) {
}
