/*--------------------------------------------------------------
# GENERAL STYLES
--------------------------------------------------------------*/
:root {
  /* font-color */
  --primary-font-color: #ffffff;
  --secondary-font-color: #16c0f0;
  --tertiary-font-color: #c2c0c3;
  /* Backgroun-color */
  --primary-bg-color: #323232;
  --secondary-bg-color: #292929;
  --tertiary-bg-color: #1abaef;
  /* Color */
  --white-color: #ffffff;
}

html {
  font-size: 10px;
}
body {
  font-family: "Bebas Neue", sans-serif;
  min-height: 2000px;
  color: var(--primary-font-color);
  letter-spacing: 1.2px;
  background-color: #292929;
}
.btn-test {
  width: 145px;
}
.box {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  position: relative;
  margin: auto;
}
.aa {
  margin: auto !important;
  width: 500px;
  height: 500px;
  /* background-color: #292929; */
}

/*--------------------------------------------------------------
# Nav 
--------------------------------------------------------------*/

/* ----------- nav-menu-wide start ----------- */

/* ----------- nav-menu-wide end ----------- */

/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/
